<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script>
    <script type="text/javascript">Loader.load();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>


</style>
</head>
<body class="container">
<main>
    <a href="/refresh" class="button">Refresh points</a>
    <div id="m" style="height:1200px"></div>
    <% data.forEach(function(row){ %>
        <div class="order">
        <p>---------------------------- </p>
        <span class="zeme"> <%= row.zeme %> </span>
        <span class="mesto" > <%= row.mesto %>  </span>
        <span class="objednavka"> <%= row.objednavka %>  </span>
        <span class="ulice"> <%= row.ulice %></span>
        <span class="psc" > <%= row.psc %> </span>
        </div>
      <% }); %>
</main>

<script> 

    
    var m = new SMap(JAK.gel("m"));
    m.addControl(new SMap.Control.Sync());
    m.addDefaultLayer(SMap.DEF_BASE).enable();
    m.addDefaultControls(); 
    var layer = new SMap.Layer.Marker();
    m.addLayer(layer);
    layer.enable();
    var clusterer = new SMap.Marker.Clusterer(m);
    layer.setClusterer(clusterer);

    var options = {};
    
    $(".order").each(function( index ) {
            let psc = $(this).find(".psc")
            let ulice = $(this).find(".ulice")
            let mesto = $(this).find(".mesto")
            let result = `${psc.text()} ${ulice.text()} ${mesto.text()}`;
            console.log(result);
            geokoduj(result);
    });


    function odpoved(geocoder) { /* Odpověď */
        if (!geocoder.getResults()[0].results.length) {
            console.log("Tohle neznáme.")
            return;
        }
        
        var vysledky = geocoder.getResults()[0].results;
        var data = [];
        while (vysledky.length) { /* Zobrazit všechny výsledky hledání */
            var item = vysledky.shift()
            console.log(item.coords.x);
            console.log(item.coords.y);

            var coords = SMap.Coords.fromWGS84(item.coords.x, item.coords.y);
            var marker = new SMap.Marker(coords, item.label , options);
            layer.addMarker(marker);
            data.push(item.label + " (" + item.coords.toWGS84(2).reverse().join(", ") + ")");
        }
        console.log(data.join("\n"));
    }

    function geokoduj(vstup) {  /* Voláno při odeslání */
        new SMap.Geocoder(vstup, odpoved);
    }



    </script>
</body>
</html>